.develop-data {
    font-size: 11px;
    line-height: 11px;
    border-collapse: collapse;
    margin-top: 3px;
    display: none;
  }
  
  .develop-data td {
    padding-right: 5px;
  }
  
  .develop-data span {
    font-weight: 700;
  }