.meta {
    font-weight: 500;
    font-size: 14px;
    padding: 0 15px;
  }
  
  .meta li {
    display: inline-block;
  }

  .stars {
    font-size: 14px;
    margin: 0 16px;
    position: relative;
    top: 0;
  }
  
  
  .stars > span {
    margin-right: 3px;
  }
  
  .star-5-color   { color: #01ff2e; }
  .star-4-color   { color: #ffd600; }
  .star-3-color   { color: #ffd600; }
  .star-2-color   { color: #ffd600; }
  .star-1-color   { color: #ffd600; }
  .star-4-nocolor,
  .star-3-nocolor,
  .star-2-nocolor,
  .star-1-nocolor { 
    color: #191b22; 
  }
  
  .popularity-tag {
    font-size: 11px;
    color: #687590;
    margin-right: 5px;
    position: relative;
    top: -1px;
    text-transform: uppercase;
  }
  
  .popularity {
    position: relative;
    top: -3px;
    background: #191b22;
    width: 84px;
    height: 4px;
    border-radius: 2px;
  }
  
  .popularity-inner {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 2px 0 0 2px;
  }
  
  .popularity-5 .popularity-inner { background: #FF015B; right: 0%; background: repeating-linear-gradient(135deg, #ff015b, #ff015b 2px, #d62989, #d62989 8px); border-radius: 4px;}
  .popularity-4 .popularity-inner { background: #D62989; right: 20%; background: repeating-linear-gradient(135deg, #ff015b, #ff015b 2px, #d62989, #d62989 8px);}
  .popularity-3 .popularity-inner { background: #9B479E; right: 40%; background: repeating-linear-gradient(135deg, #ff015b, #ff015b 2px, #d62989, #d62989 8px);}
  .popularity-2 .popularity-inner { background: #5D5398; right: 60%; background: repeating-linear-gradient(135deg, #ff015b, #ff015b 2px, #d62989, #d62989 8px);}
  .popularity-1 .popularity-inner { background: #32527C; right: 80%; background: repeating-linear-gradient(135deg, #ff015b, #ff015b 2px, #d62989, #d62989 8px);}
  .popularity-0 .popularity-inner { background: #2F4858; right: 90%; background: repeating-linear-gradient(135deg, #ff015b, #ff015b 2px, #d62989, #d62989 8px);}
  
  .country {
    height: 13px;
    background-image: url(../images/flags.png); 
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    border-radius: 3px;
  
  }
  
  .country-andorra { background-position: -3px -3px; width: 19px; margin: 0 7px 0 0; }
  .country-emiratos-arabes { background-position: -3px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-armenia { background-position: -3px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-argentina { background-position: -3px -70px; width: 19px; margin: 0 7px 0 0; }
  .country-austria { background-position: -3px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-australia { background-position: -3px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-belgica { background-position: -3px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-burkina-faso { background-position: -3px -138px; width: 19px; margin: 0 7px 0 0; }
  .country-bulgaria { background-position: -3px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-bolivia { background-position: -3px -171px; width: 19px; margin: 0 7px 0 0; }
  .country-brasil { background-position: -25px -3px; width: 19px; margin: 0 7px 0 0; }
  .country-canada { background-position: -25px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-republica-del-congo { background-position: -25px -37px; width: 19px; margin: 0 7px 0 0; }
  .country-suiza { background-position: -25px -70px; width: 19px; margin: 0 7px 0 0; }
  .country-chile { background-position: -25px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-china { background-position: -25px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-colombia { background-position: -25px -138px; width: 19px; margin: 0 7px 0 0; }
  .country-republica-checa { background-position: -25px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-alemania { background-position: -25px -171px; width: 19px; margin: 0 7px 0 0; }
  .country-dinamarca { background-position: -47px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-argelia { background-position: -47px -37px; width: 19px; margin: 0 7px 0 0; }
  .country-estonia { background-position: -47px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-egipto { background-position: -47px -70px; width: 19px; margin: 0 7px 0 0; }
  .country-espana { background-position: -47px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-finlandia { background-position: -47px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-francia { background-position: -47px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-reino-unido { background-position: -47px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-guatemala { background-position: -69px -3px; width: 19px; margin: 0 7px 0 0; }
  .country-honduras { background-position: -69px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-hungria { background-position: -69px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-indonesia { background-position: -69px -70px; width: 19px; margin: 0 7px 0 0; }
  .country-irlanda { background-position: -69px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-israel { background-position: -69px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-india { background-position: -69px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-irak { background-position: -69px -138px; width: 19px; margin: 0 7px 0 0; }
  .country-iran { background-position: -69px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-italia { background-position: -69px -171px; width: 19px; margin: 0 7px 0 0; }
  .country-jamaica { background-position: -91px -3px; width: 19px; margin: 0 7px 0 0; }
  .country-jordania { background-position: -91px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-japon { background-position: -91px -37px; width: 19px; margin: 0 7px 0 0; }
  .country-kirguistan { background-position: -91px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-corea-del-norte { background-position: -91px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-corea-del-sur { background-position: -91px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-kazajstan { background-position: -91px -138px; width: 19px; margin: 0 7px 0 0; }
  .country-libano { background-position: -91px -171px; width: 19px; margin: 0 7px 0 0; }
  .country-luxemburgo { background-position: -114px -37px; width: 19px; margin: 0 7px 0 0; }
  .country-letonia { background-position: -114px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-macedonia { background-position: -114px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-mali { background-position: -114px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-mexico { background-position: -114px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-nigeria { background-position: -136px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-nicaragua { background-position: -136px -37px; width: 19px; margin: 0 7px 0 0; }
  .country-paises-bajos-holanda { background-position: -136px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-noruega { background-position: -136px -70px; width: 19px; margin: 0 7px 0 0; }
  .country-panama { background-position: -136px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-peru { background-position: -136px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-paquistan { background-position: -136px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-polonia { background-position: -136px -171px; width: 19px; margin: 0 7px 0 0; }
  .country-portugal { background-position: -158px -3px; width: 19px; margin: 0 7px 0 0; }
  .country-paraguay { background-position: -158px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-rumania { background-position: -158px -53px; width: 19px; margin: 0 7px 0 0; }
  .country-rusia { background-position: -158px -70px; width: 19px; margin: 0 7px 0 0; }
  .country-ruanda { background-position: -158px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-arabia-saudi { background-position: -158px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-suecia { background-position: -158px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-singapur { background-position: -158px -138px; width: 19px; margin: 0 7px 0 0; }
  .country-senegal { background-position: -158px -171px; width: 19px; margin: 0 7px 0 0; }
  .country-el-salvador { background-position: -180px -20px; width: 19px; margin: 0 7px 0 0; }
  .country-chad { background-position: -180px -37px; width: 19px; margin: 0 7px 0 0; }
  .country-turquia { background-position: -180px -87px; width: 19px; margin: 0 7px 0 0; }
  .country-tanzania { background-position: -180px -104px; width: 19px; margin: 0 7px 0 0; }
  .country-ucrania { background-position: -180px -121px; width: 19px; margin: 0 7px 0 0; }
  .country-estados-unidos { background-position: -180px -138px; width: 19px; margin: 0 7px 0 0; }
  .country-venezuela { background-position: -180px -154px; width: 19px; margin: 0 7px 0 0; }
  .country-vietnam { background-position: -180px -3px; width: 19px; margin: 0 7px 0 0; }
  .country-yemen { background-position: -202px -3px; width: 19px; margin: 0 7px 0 0; }
  
  
  .ratings {
    display: flex;
    border-top: 1px solid $primary-card-break-color;
    padding: 30px 45px;
  }
  
  .ratings .source {
    font-weight: 700;
    padding-bottom: 5px;
  }
  
  .rating {
    margin-right: 30px;
  }
  
  .rating .rat {
    display: inline-block;
    font-size: 22px;
    letter-spacing: -1px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    font-weight: 700;
  }
  
  .popularity-list li {
    display: inline-block;
  }
  
  .popularity-list .popularity {
    margin-left: 5px;
  }
  
  .popularity-list .count {
    font-size: 13px;
    margin-left: 4px;
  }

  .info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 15px 0;
   }
   
   .program {
    color: #d9e1e8;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    margin-top: 10px;
    border-top: 1px solid #303643;
   }
  
   .program .channel {
    display: inline-block;
    padding-right: 12px;
   }
  
   .program time {
    display: inline-block;
   }
  
   .program .icon-tv {
    font-size: 16px;
    padding-right: 4px;
   }
  
   .program .icon-clock {
    font-size: 16px;
    position: relative;
    top: 1px;
    padding-right: 4px;
   }
  
   .channel.tve { color: #0645cc; }
   .channel.la2 { color: #0c9daa; }
   .channel.c4 { color: #d91c04; }
   .channel.t5 { color: #00aadb; }
   .channel.a3 { color: #000; }
   .channel.sexta { color: #000; }
   .channel.mv3 { color: #000; }
   .channel.foxge { color: #000; }
   .channel.axn { color: #000; }
   .channel.tnt { color: #0090b0; }
   .channel.pcm { color: #000; }
   .channel.cl13 { color: #000; }
   .channel.cosmo { color: #e41560; }
   .channel.amc { color: #000; }
   .channel.foxcr { color: #532062; }
   .channel.set { color: #3d3d3d; }
   .channel.sci-fi { color: #000; }
   .channel.neox { color: #dbc63b; }
   .channel.mv1 { color: #ff544a; }
   .channel.cpxtra { color: #ff544a; }
   .channel.mdisne { color: #ff544a; }
   .channel.cpacci { color: #ff544a; }
   .channel.cpcome { color: #ff544a; }
   .channel.cpcole { color: #ff544a; }
   .channel.dcesp { color: #ff544a; }
   .channel.tcm { color: #004063; }
   .channel.hollyw { color: #4ca7df; }
   .channel.sundan { color: #131d1f; }
   .channel.dark { color: #000; }
   .channel.parch { color: #023e84; }
  