

















.meta {
  
  }
  
  .meta li {
    
  }

  .stars {
    display: none !important;
  }
  
  
  .stars > span {
    color: #ffcb31;
  }
  
  //.star-5-color   { color: #1fbf4f; }
  //.star-4-color   { color: #1fbf4f; }
  //.star-3-color   { color: #1fbf4f; }
  //.star-2-color   { color: #1fbf4f; }
  //.star-1-color   { color: #1fbf4f; }
  .stars .star-4-nocolor,
  .stars .star-3-nocolor,
  .stars .star-2-nocolor,
  .stars .star-1-nocolor { 

  }

  .stars .star-1-color {
    color: #00e2fc;
 }

  .stars .star-2-color {
    color: #16ebd7;
 }

  .stars .star-3-color {
    color: #32f4b2;
 }

  .stars .star-4-color {
    color: #4eff87;
 }

  .stars .star-5-color {
    color: #4fff88;
 }
  
  //.star-large { font-size: 16px;}
/*
  .stars span:nth-child(0) { color: #01579B; }
  .stars span:nth-child(1) { color: #0277BD; }
  .stars span:nth-child(2) { color: #0288D1; }
  .stars span:nth-child(3) { color: #039BE5; }
  .stars span:nth-child(4) { color: #03A9F4; }
*/
  .popularity-tag {
    font-size: 11px;
    color: $back-text-color;
    margin-right: 5px;
    position: relative;
    top: -1px;
    text-transform: uppercase;
  }
  
  .popularity {
    position: relative;
    top: -3px;
    background: #202124;
    width: 60px;
    height: 4px;
    border-radius: 2px;
  }
  
  .popularity-inner {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 2px 0 0 2px;
    background: repeating-linear-gradient(135deg, #01579B, #01579B 2px, #0277BD, #0277BD 8px);
    background: #FFBB00;
    background: linear-gradient(to right, rgb(43, 45, 48) 0%, rgb(0, 171, 251) 100%);
  }
  
  .popularity-5 .popularity-inner { right: 0%; border-radius: 4px;}
  .popularity-4 .popularity-inner { right: 20%;}
  .popularity-3 .popularity-inner { right: 40%;}
  .popularity-2 .popularity-inner { right: 60%;}
  .popularity-1 .popularity-inner { right: 80%;}
  .popularity-0 .popularity-inner { right: 90%;}
  
  .ratings {
    display: flex;
    border-top: 1px solid #555;
    padding: 30px 45px;
  }
  
  .ratings .source {
    font-weight: 700;
    padding-bottom: 5px;
  }
  
  .rating {
    margin-right: 30px;
  }
  
  .rating .rat {
    display: inline-block;
    font-size: 22px;
    letter-spacing: -1px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    font-weight: 700;
  }
  
  .popularity-list li {
    display: inline-block;
  }
  
  .popularity-list .popularity {
    margin-left: 5px;
  }
  
  .popularity-list .count {
    font-size: 13px;
    margin-left: 4px;
  }

    
    .program .channel {
      display: inline-block;
      padding-right: 2px;
    }
    
    .program time {
      display: inline-block;
    }
    
    .program .icon-tv {
      font-size: 14px;
      padding-right: 4px;
    }
    
    .program .icon-clock {
      font-size: 14px;
      position: relative;
      top: 1px;
      padding-right: 4px;
    }
    
    .channel.tve { color: #0645cc; }
    .channel.la2 { color: #0c9daa; }
    .channel.c4 { color: #d91c04; }
    .channel.t5 { color: #00aadb; }
    .channel.a3 { color: #000; }
    .channel.sexta { color: #000; }
    .channel.mv3 { color: #000; }
    .channel.foxge { color: #000; }
    .channel.axn { color: #000; }
    .channel.tnt { color: #0090b0; }
    .channel.pcm { color: #000; }
    .channel.cl13 { color: #000; }
    .channel.cosmo { color: #e41560; }
    .channel.amc { color: #000; }
    .channel.foxcr { color: #532062; }
    .channel.set { color: #3d3d3d; }
    .channel.sci-fi { color: #000; }
    .channel.neox { color: #dbc63b; }
    .channel.mv1 { color: #ff544a; }
    .channel.cpxtra { color: #ff544a; }
    .channel.mdisne { color: #ff544a; }
    .channel.cpacci { color: #ff544a; }
    .channel.cpcome { color: #ff544a; }
    .channel.cpcole { color: #ff544a; }
    .channel.dcesp { color: #ff544a; }
    .channel.tcm { color: #004063; }
    .channel.hollyw { color: #4ca7df; }
    .channel.sundan { color: #131d1f; }
    .channel.dark { color: #000; }
    .channel.parch { color: #023e84; }
    