/* Reset */

* {
    padding: 0;
    margin: 0;
  }
  
  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section { 
      display:block;
  }
  
  ul {
    list-style: none;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
      width: 100%;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .table {
      display: table;
      border-spacing: 0px;
  }

  .row {
      display: table-row;
      border-bottom: 1px solid #e8edf1;
  }

  .cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #e8edf1;
    max-width: 512px;
  }

  .thead {
    display: table-header-group;
    font-weight: bold;    
  }

  /* Main */

  body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    color: #2b2c2d;
    line-height: 18px;
    background: #f7f8f9;
    font-size: 12px;
}

h1 {
    font-size: 18px;
}

.wrap {
	max-width: 1760px;
    margin: 0 auto;
}

header {
    background: #e8edf1;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 18px;
    margin-bottom: 8px;
}

.nav-main li {
    display: inline-block;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrap {
    flex-basis: 25%;
}

.card-wrap-50 {
    flex-basis: 50%;
}

.card {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
    background-color: #fff;
    margin: 8px;
    position: relative;
    padding: 40px 10px;
}

h1 {
    font-size: 14px;
}

h3 {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #e8edf1;
    border-radius: 3px 3px 0 0;
    padding: 5px 10px;
}

.content-full-width .card {
    flex-basis: 100%;
}

.card p {
    margin-bottom: 8px;
    font-size: 16px;
}

.inputs-align {
    display: flex;
    margin-bottom: 8px;
}

input[type="text"],
select,
textarea {
    font-family: 'Roboto Mono', monospace;
    width: 50%;
    max-width: 150px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 3px;
}

textarea {
    width: 100%;
}

button {
    font-family: 'Roboto Mono', monospace;
    background-color: #209cee;
    border: none;
    padding: 6px 12px;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
    color: #fff;
    border-radius: 3px;
    display: block;
    margin-right: 8px;
    cursor: pointer;
}

button:hover {
    background: #1d7fbf;
}

.text-from-file {
    border: 1px solid #c5c5c5;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
    color: #757575;
    margin-bottom: 12px;
    min-height: 36px;
}

label {
    margin: 0 8px 0 4px;
}

.myCheckbox input {
    display: none;
}

.myCheckbox span {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #c5c5c5;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
}

.myCheckbox input:checked + span {
    background: #209cee;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07), white 0px 0px 0px 1px inset;
}

.myCheckbox div {
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
    color: #757575;
    position: relative;
    top: -4px;
}

small {
    font-size: 11px;
    display: block;
    line-height: 15px;
    color: #757575;
}

.background-tmdb {
    max-width: 207px;
}

.poster-tmdb {
    max-width: 77px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message span {
    padding: 5px 14px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #fff1bc;
}

.card .id {
    background: #40454a;
    color: #fff;
    padding: 0 2px;
    margin-right: 2px;
}

.card .title {
    font-weight: 700;
    margin-right: 2px;
}

.card .director {
    background: #bbffc0;
    padding: 0 2px;
    margin-right: 2px;
}

.card .meta {
    background: #ffc9c9;
    padding: 0 2px;
    margin-right: 2px;
}

.card .metatype {
    background: #c9e2ff;
    padding: 0 2px;
}

.card-inner {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8edf1;
    margin-bottom: 10px;    
}

.content-bar-menu {
    margin-right: 40px;
}

.content-bar-menu li {
    display: inline-block;
    padding: 0 5px;
    font-weight: 600;
}

.content-bar-menu a {
    color: #006eb7;
}

.content-bar-menu span {

}

.hot,
.hot-up,
.hot-down {
    display: inline-block;
    width: 16px;
    height: 21px;
    border: 1px solid transparent;
}

.hot {
    color: transparent;
}

.hot-0 { background: #dadcde; }
.hot-1 { background: #ffd700; }
.hot-2 { background: #ff8200; }
.hot-3 { background: #e80000; }
.hot-4 { background: #800000; }

.cell-hot {
    padding: 2px 5px;
    min-width: 64px;
    position: relative;
}

.hot-up, .hot-down {
    border: 1px solid #c5c5c5;
    text-align: center;
    cursor: pointer;
    margin-left: -5px;
}

.cell-hot:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffc2;
    display: none;
}

.cell-hot.show:after {
    display: block;
}