


/* 

Main

 */





a {
  color: #fff;
  text-decoration: none;
}







/* 

Modules

 */



.main-layout-center {
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.movie-layout {
  display: flex;
}



.movie-layout .col-1 {
  flex-basis: 25%;
}

.movie-layout .col-2 {
  flex-basis: 75%;
}








.movie-aside-card img {
  border-radius: 4px;
}

.movie-main-card {
  background: #282c37;
  border-radius: 4px;
}

.movie-main-card img {
  border-radius: 4px 4px 0 0;
}

.movie-main-card .info {
  padding: 18px 28px 32px;
}

.movie-main-card .meta {
  font-size: 17px;
  padding-bottom: 6px;
  line-height: 22px;
}
.movie-main-card p {
  font-size: 17px;
  line-height: 24px;
}

.movie-main-card .stars > span {
  font-size: 17px;
  margin-right: 2px;
}

/* 

  META MOVIE

 */





  /* 

Others

 */



 .info {

 }







