


/* 

Main

 */





a {
  color: #fff;
  text-decoration: none;
}







/* 

Modules

 */



.main-layout-center {
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.movie-layout {
  display: flex;
}



.movie-layout .col-1 {
  flex-basis: 25%;
}

.movie-layout .col-2 {
  flex-basis: 75%;
}








.movie-aside-card img {
  border-radius: 4px;
}

.movie-main-card {
  background: #282c37;
  border-radius: 4px;
}

.movie-main-card img {
  border-radius: 4px 4px 0 0;
}

.movie-main-card .info {
  padding: 18px 28px 32px;
}

.movie-main-card .meta {
  font-size: 17px;
  padding-bottom: 6px;
  line-height: 22px;
}
.movie-main-card p {
  font-size: 17px;
  line-height: 24px;
}

.movie-main-card .stars > span {
  font-size: 17px;
  margin-right: 2px;
}

/* 

  META MOVIE

 */





  /* 

Others

 */



 .info {

 }





.slots {
  border-top: 1px solid #303643;
  padding: 30px 0 0;
}

.slots > div {
  padding: 0 45px;
  color: #d9e1e8;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 18px;
  line-height: 22px;
}

.slot {
  padding: 12px 45px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9baec8;
  background: repeating-linear-gradient(135deg, #303643, #303643 0px, #1f232b, #1f232b 8px);
}

.slot-expire {
  text-decoration: line-through;
  background: repeating-linear-gradient(135deg, #303643, #303643 0px, #191b22, #191b22 8px);
}


