.site-wrap {
  
}

.content-wrap {
    position: relative; //para sobreponer al icono de intro
    background: $base-dark-color;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    @include center-auto();
}

.content-inner {
    position: relative;
}

.sidebar {

}

.main-content {

    padding-top: 20px;

    @include mq('tablet-wide') {
        flex-basis: 100%;
        margin: 10px;
    }

    .col-1 {
        flex-basis: 40%;
    }

    .col-2 {
        flex-basis: 60%;
    }

    .col-1,
    .col-2 {
        padding: 15px;
    }
}

.grid-item,
.grid-sizer {
    width: 10%;
}

.grid-item-x {
    width: 60%;
}

.grid-item-l {
    width: 40%;
}

.grid-item-m {
    width: 30%;
}


