.main-header-wrap {
    position: relative; //para el icono background
    background: radial-gradient(1000px at 50% 0, $base-dark-color, $base-light-color, $base-light-color);
}

.topbar {
    padding: 25px 0;
    position: relative;
}

.topbar-inner {
    display: flex;
    align-items: center;
    padding: 0 20px;

    @include mq('tablet-wide') {
        padding-right: 0;
    }
}

.topbar-main {
    display: flex;
    align-items: center;
}

.topbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.logo {

    margin: 0 18px 6px 10px;
    color: #fff;

    @include mq('tablet-wide') {
        margin-bottom: 0;
    }

    .icon-tv {
        font-size: 20px;
        color: #fff;
        transform: rotate(10deg);
        display: inline-block;
    }

    p {
        font-family: $alt-font;
        font-size: 22px;
        letter-spacing: .5px;
        display: inline-block;
        font-weight: 900;

        @include mq('tablet-wide') {
            display: none;
        }
    }
}

.main-nav,
.aux-nav {

    li {
        display: inline-block;
        margin-left: 20px;

        @include mq('tablet-wide') {
            margin-left: 0;
        }
    }

    a {
        color: #d9e1e8;
        padding: 10px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.aux-nav {
    @include mq('tablet-wide') {
        display: none;
    }
}


.intro {
    overflow: hidden;
    position: relative;
}

.intro-content {
    @include center-auto;
    max-width: 1100px;
    text-align: center;
    padding: 60px 0;
    position: relative;
    z-index: 100; // para sobreponer al icono de fondo

    @include mq('tablet-wide') {
        padding: 0;
    }
}

.intro-content h1 {
    font-size: 66px;
    font-weight: 500;
    padding-bottom: 20px;

    @include mq('tablet-wide') {
        font-size: 26px;
    }
}

.intro-content p {
    font-size: 18px;

    @include mq('tablet-wide') {
        display: none;
    }
}

.icon-tv-background {
    @include absolute-position(auto, 0, -680px, auto);
    font-size: 1000px;
    transform: rotate(-10deg);
    color: $base-dark-color;  

    @include mq('tablet-wide') {
        display: none;
    }
}

.scroll {

    white-space: nowrap; /* [1] */
    overflow-x: auto; /* [2] */
    -webkit-overflow-scrolling: touch; /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }
  
  /* [5] */
  .scroll::-webkit-scrollbar {
    display: none; }

.scroll-fade {
    display: none;

    @include mq('tablet-wide') {
        display: block;
        @include absolute-position(0, 0, 0, auto);
        width: 50px;
        background: linear-gradient(to right, rgba(255,0,0,0), $base-color);
    }
}



