.header-group {
    background: radial-gradient(1000px at 50% 0, #3c3f46, #202124, #202124);
}

.header {
    padding: 20px 0;
}

.header-wrap {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header-wrap-left {
    display: flex;
    align-items: center;
}

.title {
    margin: 0 18px 0 10px;

    .icon-tv {
        font-size: 20px;
        color: #fff;
        transform: rotate(10deg);
        display: inline-block;
    }

    p {
        display: inline-block;
        text-align: center;
        line-height: 38px;
        font-weight: 900;
        color: #fff;
        font-size: 22px;
        font-family: 'Roboto Slab', serif;
        letter-spacing: .5px;
    }
}
  
.headline {

    .headline-wrap {
        position: relative;
        max-width: 1180px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headline-content {
        padding: 60px 40px 80px;
        max-width: 660px;

    }

    h1 {
        font-size: 66px;
        line-height: 75px;
        letter-spacing: 4px;
        font-weight: 500;
        padding: 0 0 20px;
    }

    p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
    }

    .headline-image {
        position: absolute;
        bottom: -90px;
        right: 0;
        width: 400px;
    }
}

#svg_8, #svg_9 {
    display: none;
}


  
  
  