.main-menu,
.side-menu {
  display: flex;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 6px 0 0 5px;
  color: #d9e1e8;

  .search-btn {

  }

  .user-btn {
    color: #a2b3f6;
    display: none;
  }

  a {
    margin-left: 20px;
    color: #d9e1e8;
    padding: 10px;
  }
}


