/* FUNCIONES SOBRE COLORES */

// Aclarar ligeramente un color
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
// Oscurecer ligeramente un color
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}


$base-color: #202124;
$base-dark-color: darken( $base-color, 4% );
$base-light-color: lighten( $base-color, 4% );

$white-color: #fff;
$white-dark-color: #fafafa;







//tool: https://colorme.io/

