body {
    font-weight: 400;
    color: #161719;
    background: #f7f8f9;
}

a {
    color: #161719;
}

.content-wrap {
    background: #f7f8f9;
}

.card {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
}

.card-provider-fa {
    color: #3e6f98;
}

.card-provider-im {
    color: #e0b413;
}

.poster img {
    box-shadow: 0 0 1px 1px #ffffff;
}

.filters-nav a.active {
    color: #161719;
}


.filters-nav a {
    color: #828c94;
}

.filters-nav .nav-title {
    color: #0d4cce;
}

.no-thumb {
    background: #e8edf1;
}